<div *ngIf="messageService.messages.length" style="margin-top:5px;">
 <div *ngFor='let message of messageService.messages let ind = index'>  
  <div class="alert alert-success" *ngIf="message.tipo == 1">
      <strong>{{message.texto}}</strong>
      <a class="alert-success" style="float:right;margin:2px;font-weight:bold" href="javascript:void(0);"
      (click)="messageService.clear()">Fechar</a>
  </div>
  <div class="alert alert-danger" *ngIf="message.tipo == 2" id="div_msg_{{ind}}">
      <strong>{{message.texto}}</strong> 
      <a class="alert-danger" style="float:right;margin:2px;font-weight:bold" id="msg_danger_{{ind}}" href="javascript:void(0);"
      onclick="(document.getElementById(this.id).parentElement).style.display ='none'">Fechar</a>
  </div>  
    <div class="alert alert-info" *ngIf="message.tipo == 3">
         <strong>{{message.texto}}</strong>
      <a class="alert-info" style="float:right;margin:2px;font-weight:bold" href="javascript:void(0);" 
      (click)="messageService.clear()">Fechar</a>
    </div>
  </div>
</div>

