
<form id="myForm">
<div class="error-container">
    <div *ngIf="data?.error && !routeParams.message" style="margin-bottom:400px;">
      <h2>ERROR {{ data?.error}}</h2>
      <h5 *ngIf="data?.error === 404">Página não encontrada :(</h5>
      <a mat-raised-button [routerLink]="'/'">
        <h5>Ir para Página Inicial</h5>
      </a>
    </div>
    <div *ngIf="routeParams.message" style="margin-top:170px;">
      <h2 *ngIf="routeParams?.status"><b>ERROR {{ routeParams?.status }}</b></h2><br/>
      <h2 *ngIf="routeParams?.message">{{ routeParams?.message }}</h2><br/>
      <h3 *ngIf="routeParams?.url && routeParams?.url !== '/'">Erro na página {{ routeParams?.url | uppercase }}, desculpe {{ routeParams?.user }}</h3>
      <h4 *ngIf="routeParams?.id">Este erro pode ser reportado para o administrator com o ID:<br> {{ routeParams?.id}}</h4>
      <a mat-raised-button
        [routerLink]="routeParams?.url"
        *ngIf="routeParams?.url && routeParams.status !== '404'">
          <h5>Voltar para {{routeParams?.url}}</h5>
      </a>
      <a mat-raised-button
         routerLink="/"
         *ngIf="!routeParams.url || routeParams.status === '404'">
          <h5>Go Back to home</h5>
      </a>
    </div>
  
    <div *ngIf="!routeParams && !data">
        <h1>Unknown error, sorry :(</h1>
        <a mat-raised-button [routerLink]="'/login'">
          <h5>Go Home</h5>
        </a>
    </div>
  </div>
  
  <div class="pre-container" *ngIf="routeParams?.message">
    <p>Detalhes do erro:</p>
    <pre>
      {{ this.routeParams | json }}
    </pre>
  </div>
<hr>
</form>