<form [formGroup]="form">
    <!-- Header Page -->
    <div>
      <ul class="nav">
        <li class="nav-item" style="margin-left:-10px;">
          <a class="nav-link active" href="#"> Publication App »</a>
        </li>
        <li class="nav-item" style="margin-left:-25px;">
          <a class="nav-link" href="/usuario/list">Usuário »</a>
        </li>
        <li class="nav-item" style="margin-left:-25px;">
          <a class="nav-link disabled" href="/usuario/list" onclick="javascript(0);">Listagem</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-14">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title">Usuários</h4>
          <p class="card-text">Essa funcionalidade exibe todos os usuários que possui acesso ao sistema.</p>
        </div>
      </div>
    </div>
    <!-- End Header Page -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">Resumo</th>
          <th scope="col">Administrador</th>
          <th scope="col" style="text-align:center;">Data de Cadastro</th>
          <th scope="col" style="width:12%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of collection;">
          <td>{{user.name}}</td>
          <td>{{user.login}}</td>
          <td><div [innerHTML]="user.resumo"> </div></td>
          <td>{{user.admin}}</td>
          <td style="width:15%; text-align:center;">{{user.dataCadastro | date: "dd/MM/yyyy"}}</td>
          <td style="text-align: right;">
          <button class="btn btn-outline-danger btn-sm" (click)="remover(user._id)" title="Remover Usuário" onclick="window.scroll(0, 0);"
          style="color:red;"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card-body" style="margin:0px;">
        <!-- Pagination -->
        <nav class="Page navigation" style="float:left; margin-top:15px;">
          <ul class="pagination" style="color:#007bff;">
            <li class="page-item"><a class="page">Página {{pagination.page}} de {{pagination.totalPages}} | Total de Registros:
                {{pagination.total}}
              </a></li>
          </ul>
        </nav>
        <nav aria-label="Page navigation example" style="float:right;" *ngIf="showPagination" id="divPag">
          <ul class="pagination" style="color:#007bff;">
            <li class="page-item"><a class="page-link" *ngIf="pagination.page > 1" (click)="carregarListagem(pagination.page - 1)"
                onclick="window.scroll(0, 0);">Anterior</a></li>
            <div *ngFor="let item of pagination.arrayPages(); let i = index;">
              <li class="page-item active" *ngIf="pagination.page == i+1">
                <a class="page-link" (click)="carregarListagem(i+1);">{{i+1}}</a>
              </li>
              <li class="page-item" *ngIf="pagination.page != i+1" onclick="window.scroll(0, 0);">
                <a class="page-link" (click)="carregarListagem(i+1);">{{i+1}}</a>
              </li>
            </div>
            <li class="page-item"><a class="page-link" *ngIf="pagination.page < pagination.totalPages" (click)="carregarListagem(pagination.page + 1);"
                onclick="window.scroll(0, 0);">Próximo</a></li>
          </ul>
        </nav>
      </div>
      <!-- End Pagination -->
</form>    