<form  [formGroup]="form">
    <h2>Categorias</h2>
    <hr>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-sm-8">
                <label for="name">Descrição</label>
                <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>  
        <div class="col-sm-2">
           <input class="btn btn-success" id="btnCadastro" type="submit" style="height:40px; margin-top:30px;" value="Cadastrar" (click)="salvar()" 
           onclick="document.getElementById('btnCadastro').value = 'Cadastrar'" />
        </div>
    </div>
   <br>
</form>   
<form [formGroup]="form">   
   <br>
   <div>
   <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col" style="text-align:center;">Data de Cadastro</th>
          <th scope="col" style="width:10%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categorias;">
          <td>{{cat.descricao}}</td>
          <td style="width:15%; text-align:center;">{{cat.dataCadastro | date: "dd/MM/yyyy"}}</td>
          <td style="text-align: right;">
              <button class="btn btn-outline-success btn-sm" (click)="preAlterar(cat)" title="Alterar Categoria" style="color:black;"
              onclick="document.getElementById('btnCadastro').value = 'Alterar'; window.scroll(0, 0);"> <i class="fa fa-refresh"></i> </button>
              <button class="btn btn-outline-danger btn-sm" (click)="remover(cat._id)" title="Remover Categoria" 
              onclick="window.scroll(0, 0);" style="color:red;"><i class="fa fa-trash-o"></i></button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</form>
  
  