 <nav class="navbar" style="background-color:#dee2e6; margin-top:10px; margin-bottom:5px;clear: both; height:100%">
    <div class="container">
        <p class="m-1 text-center"><a href="https://www.linkedin.com/in/heriveltonpaiva/">Herivelton Paiva</a> &copy; 2018</p>
        <p class="m-1 text-center" style="float:right;"><a href="javascript(0);" data-toggle="modal" data-target="#modalVersion">Versão 1.0</a></p>
    </div>
</nav> 

<div class="modal fade" id="modalVersion" tabindex="-1" role="dialog" aria-labelledby="modalVersion" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalVersion">Publication App Versão 1.0 | 08/10/2018</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
          <li> Criação de Publicações Públicas e Privadas</li>
          <li> Listagem das Minhas Publicações</li>
          <li> Cadastro e Listagem de Categorias</li>
          <li> Cadastro e Listagem de Assuntos </li>
          <li> Dashboard com as Últimas Publicações </li>
          <li> Habilitação/Desabilitação da Visualização de Publicações e Categorias no Dashboard</li>
          <li> Criação de Conta e Permissão de Acesso</li>
         </ul>
        </div>
      </div>
    </div>
  </div>