<div class="container">
  
    <div class="row" id="pwd-container" style="margin-bottom:400px;">
      <div class="col-md-4"></div>
      
      <div class="col-md-4" style="margin-top:100px;">
        <section class="login-form">
          <form method="post" role="login" [formGroup]="form">
            <h4 style="text-align:center;">App Publication</h4>
            
            <input type="text" name="user" required class="form-control input-lg" formControlName="login" placeholder="Login" style="margin-top:20px; margin-bottom:10px;"/>
    
            <input type="password" class="form-control input-lg" id="password" formControlName="password" placeholder="Password" required="" style="margin-bottom:10px;"/>
            
            <div class="pwstrength_viewport_progress"></div>
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" (click)="login()">Entrar</button>
            <div>
              <a href="#">Criar uma conta</a> or <a href="#">Esqueci minha senha</a>
            </div>
          </form>
        </section>  
        </div>
      
    </div>
    