<!-- Navigation -->
  <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="assets/img/publication_logo.png" width="40px" height="30px"/> <b>Publication App</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown active" *ngIf="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Publicações
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/publicacao/form">Criar Publicações</a>
              <a class="dropdown-item" routerLink="/publicacao/list">Minhas Publicações</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/categoria">Gerenciar Categorias</a>
              <a class="dropdown-item" routerLink="/assunto">Gerenciar Assuntos</a>
            </div>
          </li>
          <li class="nav-item dropdown active" *ngIf="isAuthenticated()">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span id="nameLogin">Bem vindo, {{usuario.name}} </span>
                <img src="/assets/img/user.png" width="30" height="30" alt="" *ngIf="!usuario.idArquivo">
                <img [src]="usuario.idArquivo.data" width="30" height="30" alt="" *ngIf="usuario.idArquivo">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:50px;">
                  <a class="dropdown-item" routerLink="/usuario/{{usuario.id}}">Sobre o autor</a>
                  <a class="dropdown-item" routerLink="/usuario/form">Meus Dados</a>
                  <a class="dropdown-item" routerLink="/usuario/list">Usuários</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="javascript(0);" (click)='logout();'>Sair</a>
              </div>
            </li>
          <li class="nav-item active" *ngIf="!isAuthenticated()">
            <a class="nav-link" routerLink="javascript(0);" style="font-weight:bold;" routerLink="/login">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Page Content -->
