<!-- Navigation -->
<form [formGroup]="form">
  <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><b>Publication App</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Publicações
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/publicacao/form">Criar Publicações</a>
              <a class="dropdown-item" routerLink="/publicacao/list">Minhas Publicações</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/categoria">Gerenciar Categorias</a>
              <a class="dropdown-item" routerLink="/assunto">Gerenciar Assuntos</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Bem vindo, Herivelton 
                <img src="http://placehold.it/500x325" width="30" height="30" alt="">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Meus Dados</a>
                  <a class="dropdown-item" href="#">Alterar Usuário</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)='logout();'>Sair</a>
              </div>
            </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="javascript(0);" style="font-weight:bold;" routerLink="/login">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</form>
<!-- Page Content -->
