 <!-- Navigation -->
 <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">App Publication</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item active" id="painelLi">
            <a class="nav-link" routerLink="/publicacao/form">Painel</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/publicacao/list">Publicações</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/assunto">Assuntos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/categoria">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-weight:bold;">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Page Content -->