<form  [formGroup]="formPublicacao">
    <h2>Minhas Publicações</h2>
    <hr>
    <div *ngFor="let publicacao of listaPublicacoes; let ind = index" >  
      <h3>
        <span>{{publicacao.titulo}}</span> 
      </h3>

      <button class="btn btn-outline-danger btn-sm" (click)="removerPublicacao(publicacao._id)" title="Remover Publicação" style="float:right; margin:8px; color:red;"><i class="fa fa-trash-o"></i></button> 
      <button class="btn btn-outline-success btn-sm" (click)="preAlterarPublicacao(publicacao)" title="Alterar Publicação" style="float:right; margin:8px; color:black;"> <i class="fa fa-refresh"></i> </button>
      <p class="textoPublicacao">
        Publicado em <span class="date">{{publicacao.dataCadastro | date : "dd/MM/yyyy hh:mm"  }}</span>
        <a><i class="fa fa-whatsapp" style="font-size:20px;"></i></a>
        <a><i class="fa fa-facebook-square" style="font-size:20px;"></i></a>
        <a><i class="fa fa-linkedin-square" style="font-size:20px;"></i></a>
        <a><i class="fa fa-twitter-square"  style="font-size:20px;"></i></a> <br> 
      
        Categoria: {{publicacao.idAssunto.idCategoria.descricao}} &nbsp;&nbsp;|&nbsp;&nbsp; Assunto: {{publicacao.idAssunto.descricao}} <a href="#"></a>  
               
        <!-- <a href="#" class="comentario">Comments <span>0</span></a> -->
      
      </p>
      <div class="clr"></div>
      <div class="post_content">
          <div [innerHTML]="publicacao.resumo">  </div>
      </div>  
      <br> 
      <input class="btn btn-outline-primary" style="height:38px;margin-top:10px;" value="Ler publicação completa" routerLink="../{{publicacao._id}}" /><br>
      <hr>
    </div>  
</form>

