<form  [formGroup]="formPublicacao">
    <div *ngFor="let publicacao of listaPublicacoes; let ind = index">  
      <h2>
        <span>{{publicacao.titulo}}</span> 
      </h2>
      <p class="textoPublicacao">
        Publicado em <span class="date">24 setembro 2018</span> 
        &nbsp;&nbsp;|&nbsp;&nbsp; {{publicacao.categoria}} &nbsp;&nbsp;|&nbsp;&nbsp; {{publicacao.subcategoria}} <a
          href="#"></a> <a href="#" class="comentario">Comentários <span>0</span></a>
      </p>
      <div class="clr"></div>
      <div class="post_content">
          <div [innerHTML]="publicacao.conteudo">  </div>
      </div>
      <div class="clr"></div>
      <br> 
      <button class="btn btn-warning" style="height:40px;margin-top:30px;" (click)="preAlterarPublicacao(publicacao)">Alterar</button>
      <button class="btn btn-danger" style="height:40px;margin-top:30px;" (click)="removerPublicacao(publicacao._id)">Remover</button>
    </div>  
</form>

